# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Git
# =========================
.git
.gitignore

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Local Databases
# =========================
*.sqlite3
*.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Node (if ever added)
# =========================
node_modules/

# =========================
# Testing / Temporary Files
# =========================
*.tmp
*.cache